{% extends "base.html" %}

{% block mainbody %}
<div class="container mt-5">
    <div class="row">
         <!-- 左边栏 -->
          <!-- 视频栏 -->
                <div class="col-sm-8">
                <video class="img-fluid" controls>
                  <source src="{{ video.video_url }}" type="video/mp4">
                </video>

                <!-- 详情栏 -->
                <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">{{ video.name }}</h4>
                                  <p class="card-text">{{ video.desc }}</p>
                                  <a href="#" class="card-link">Card link</a>
                                  <a href="#" class="card-link">Another link</a>
                                </div>
                </div>
                 <!-- 写评论栏 -->
                {% if request.user.is_authenticated %}
                 <div class=" mt-5">
                        <h3 class="mb-3">评论</h3>
                     <form action="/comment/?video_id={{ video.id }}" method="POST" autocomplete="off">
                        <div class="input-group mb-3">
                          <input name="comment" type="text" class="form-control" placeholder="评论">
                          <div class="input-group-append">
                            <button class="btn btn-success" type="submit">发射</button>
                           </div>
                        </div>
                         {% csrf_token %}
                     </form>
                </div>
                {% else %}
                <div class=" mt-5">
                        <h3 class="mb-3">评论</h3>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="姓名">
                        </div>

                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="邮箱">
                        </div>

                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="评论">
                          <div class="input-group-append">
                            <button class="btn btn-success" type="submit">发射</button>
                           </div>
                        </div>
                </div>
                {% csrf_token %}
                {% endif %}
                 <!-- 展示评论栏 -->
                <div class=" mt-5">


                    <table class="table">

                            <tbody>
                            {% for comment in comments %}
                              <tr>
                                <td style="width: 72px;"><img style="height:48px;width:48px;" src="j.jpeg" class="rounded-circle "></td>
                                <td>
                                    <div><a href="#" >{{ comment.user }}</a></div>

                                    <small>
                                        {{ comment.comments }}
                                    </small>
                                    <div>
                                        <div style="float: right;">
                                            <span class="badge badge-pill badge-info">{{ comment.add_time }}</span>
                                        </div>
                                    </div>
                                </td>
                              </tr>
                            {% endfor %}


                            </tbody>
                          </table>





                </div>

                </div>

                 <!-- 右边栏 -->
                  <!-- 推荐栏 -->
                <div class="col-sm-4">
                        <div>
                                <a href="">
                                <img class="img-fluid" src="http://pianyuan.net/Uploads/Picture/litpic/06/25Jun2018202006.jpg">
                                </a>
                            </div>
                            <div>
                                <div class="border">&nbsp;</div>
                                <a href="https://www.baidu.com">电影</a>
                                <p>主演</p>
                        </div>
                </div>
    </div>
</div>
{% endblock %}