{% extends "base.html" %}

{% block mainbody %}
<div class="container mt-5">
    <div class="row">
         <!-- 左边栏 -->
          <!-- 视频栏 -->
                <div class="col-sm-10">
{#                <video class="img-fluid" controls>#}
{#                  <source src="{{ video.video_url }}" type="video/mp4">#}
{#                </video>#}
                <div>
                <video id="hls-video"   style="width: 100%" class="video-js vjs-default-skin" controls preload="none" data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                <!-- 直播的视频源 -->
                <source src="{{ video.video_url }}" type="application/x-mpegURL">
                <!-- 点播的视频源 -->
                <!--<source src="http://devstreaming.apple.com/videos/wwdc/2015/413eflf3lrh1tyo/413/hls_vod_mvp.m3u8" type="application/x-mpegURL">-->
                </video>

                </div>
                <!-- 详情栏 -->
                <div class="card mt-5">
                                <div class="card-body">
                                  <h4 class="card-title">{{ video.name }}</h4>
                                  <div class="card-text mb-3">{{ video.desc|safe}}</div>
{#                                  <a href="#" class="card-link">Card link</a>#}
{#                                  <a href="#" class="card-link">Another link</a>#}
                                </div>
                </div>
                 <!-- 写评论栏 -->
                {% if request.user.is_authenticated %}
                 <div class=" mt-5">
                        <h3 class="mb-3">评论</h3>
                     <form action="/comment/?video_id={{ video.id }}" method="POST" autocomplete="off">
                        <div class="input-group mb-3">
                          <input name="comment" type="text" class="form-control" placeholder="评论">
                          <div class="input-group-append">
                            <button class="btn btn-success" type="submit">发射</button>
                           </div>
                        </div>
                         {% csrf_token %}
                     </form>
                </div>
                {% else %}
                <div class=" mt-5">
                        <h3 class="mb-3">评论</h3>
                         <div class="badge badge-secondary mb-2" style="float: right;">请登录以后评论</div>
                        <div class="input-group mb-3 ">
                          <input type="text" class="form-control" placeholder="姓名">
                        </div>

                        <div class="input-group mb-3 ">
                          <input type="text" class="form-control" placeholder="邮箱">
                        </div>

                        <div class="input-group mb-3 ">
                          <input type="text" class="form-control" placeholder="评论">
                          <div class="input-group-append">
                            <button class="btn btn-success disabled" type="submit">发射</button>
                           </div>
                        </div>
                </div>
                {% csrf_token %}
                {% endif %}
                 <!-- 展示评论栏 -->
                <div class=" mt-5">



                        <div>
                  <ul class="list-group">
                      {% for comment in comments %}
                      <li  class="list-group-item">
                          <a><img src="https://tva2.sinaimg.cn/crop.0.1.635.635.50/62d8efadgw1ej30downrsj20hs0hq0ws.jpg" width='40' height='40'></a>
                          <a href="#" class="ml-3 btn btn-link">{{ comment.user }}</a><span class="badge badge-pill badge-info" style="float: right;">{{ comment.add_time }}</span>
                          <div class="ml-5 mt-3">{{ comment.comments }}</div>

                            <div class=" mt-5">

                     <form action="/childcom/?comment_id={{ comment.id }}&video_id={{ video.id }}" method="POST" autocomplete="off">
                        <div class="input-group mb-3">
                          <input name="comment" type="text" class="form-control" placeholder="回复">
                          <div class="input-group-append">
                            <button class="btn btn-success" type="submit">发射</button>
                           </div>
                        </div>
                         {% csrf_token %}
                     </form>
                </div>
                      </li>
                          {% for child in comment.childcomment_set.all %}
                      <li  class="list-group-item ml-5">

                          <a><img src="https://tva2.sinaimg.cn/crop.0.1.635.635.50/62d8efadgw1ej30downrsj20hs0hq0ws.jpg" width='40' height='40'></a>
                          <a href="#" class="ml-3 btn btn-link">{{ child.user }}</a><span class="badge badge-pill badge-info" style="float: right;">{{ child.add_time }}</span>
                          <div class="ml-5 mt-3">{{ child.comments }}</div>

                      </li>
                      {% endfor %}
                      {% endfor %}
                  </ul>
                </div>





                </div>

                </div>

                 <!-- 右边栏 -->
                  <!-- 推荐栏 -->
{#                <div class="col-sm-2">#}
{#                        <div>#}
{#                                <a href="">#}
{#                                <img class="img-fluid" src="http://pianyuan.net/Uploads/Picture/litpic/06/25Jun2018202006.jpg">#}
{#                                </a>#}
{#                            </div>#}
{#                            <div>#}
{#                                <div class="border">&nbsp;</div>#}
{#                                <a href="https://www.baidu.com">电影</a>#}
{#                                <p>主演</p>#}
{#                        </div>#}
{#                </div>#}
    </div>
</div>
<script src="http://cdn.bootcss.com/video.js/6.0.0-RC.5/video.js"></script>
<!-- PC 端浏览器不支持播放 hls 文件(m3u8), 需要 videojs-contrib-hls 来给我们解码 -->
<script src="http://cdn.bootcss.com/videojs-contrib-hls/5.3.3/videojs-contrib-hls.js"></script>
<script>
    // XMLHttpRequest cannot load http://xxx/video.m3u8. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://192.168.198.98:8000' is therefore not allowed access.
    // 由于 videojs-contrib-hls 需要通过 XHR 来获取解析 m3u8 文件, 因此会遭遇跨域问题, 请设置浏览器运行跨域
    var player = videojs('hls-video');
    player.play();
</script>
{% endblock %}