{% extends "base.html" %}

{% block mainbody %}
             <!-- 选项栏 -->
        <div class="container mt-5">
                <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="/info/">
                                用户信息
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/info_fav/">
                                收藏
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/message/">
                                信息
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">
                                Disabled
                            </a>
                        </li>
                    </ul>
        </div>
 <!-- 内容栏 -->
 <div class="container mt-5">
  <div class="row">
  <div class="col-md-10">
  <div class="row">
    {% for video in fav_list %}
    <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
            <div>
                <a href="">
                <img class="img-fluid" src="{{ video.image_url }}">
                </a>
            </div>
            <div>
                <div class="border">&nbsp;</div>
                <div style="height: 100px;"><a  href="https://www.baidu.com">{{ video.name}}</a></div>
                <p>{{ video.actor}}</p>
            </div>
    </div>
    {% endfor %}

  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
          <div>
              <a href="">
              <img class="img-fluid" src="http://pianyuan.net/Uploads/Picture/litpic/06/25Jun2018202006.jpg">
              </a>
          </div>
          <div>
              <div class="border">&nbsp;</div>
              <a href="https://www.baidu.com">电影</a>
              <p>主演</p>
          </div>
  </div>

  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
          <div>
              <a href="">
              <img class="img-fluid" src="http://pianyuan.net/Uploads/Picture/litpic/06/25Jun2018202006.jpg">
              </a>
          </div>
          <div>
              <div class="border">&nbsp;</div>
              <a href="https://www.baidu.com">电影</a>
              <p>主演</p>
          </div>
  </div>

  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
      <div>
          <a href="">
          <img class="img-fluid" src="http://pianyuan.net/Uploads/Picture/litpic/06/25Jun2018202006.jpg">
          </a>
      </div>
      <div>
          <div class="border">&nbsp;</div>
          <a href="https://www.baidu.com">电影</a>
          <p>主演</p>
      </div>
</div>

<div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
      <div>
          <a href="">
          <img class="img-fluid" src="http://pianyuan.net/Uploads/Picture/litpic/06/25Jun2018202006.jpg">
          </a>
      </div>
      <div>
          <div class="border">&nbsp;</div>
          <a href="https://www.baidu.com">电影</a>
          <p>主演</p>
      </div>
</div>

<div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
      <div>
          <a href="">
          <img class="img-fluid" src="http://pianyuan.net/Uploads/Picture/litpic/06/25Jun2018202006.jpg">
          </a>
      </div>
      <div>
          <div class="border">&nbsp;</div>
          <a href="https://www.baidu.com">电影</a>
          <p>主演</p>
      </div>
</div>

</div>
</div>
</div>



</div>
 <!-- 分页 -->
<div class="container mt-5 ">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
</div>
{% endblock %}