<!DOCTYPE html>
<html>
	<head>
		<title>
			Bootstrap 实例
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js">
		</script>
		<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js">
		</script>
		<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js">
		</script>
	</head>
	<body>
         <!-- 顶部栏 -->   
		<div class="container-fluid bg-dark">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark ">
					<a class="navbar-brand" href="#">
						Navbar
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
					aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">
						</span>
					</button>
					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="#">
									Home
									<span class="sr-only">
										(current)
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Features
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Pricing
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									About
								</a>
							</li>
						</ul>
						<form class="form-inline">
							<div class="input-group ">
								<div class="input-group-prepend ">
									<button type="button" class="btn btn-outline-secondary dropdown-toggle "
									data-toggle="dropdown">
										选择网站
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="https://www.google.com">
											GOOGLE
										</a>
										<a class="dropdown-item" href="http://www.runoob.com">
											RUNOOB
										</a>
										<a class="dropdown-item" href="https://www.taobao.com">
											TAOBAO
										</a>
									</div>
								</div>
								<input class="form-control mr-sm-2" type="search" placeholder="Search"
								aria-label="Search">
								<button class="btn btn-outline-info my-2 my-sm-0" type="submit">
									Search
								</button>
							</div>
						</form>
					</div>
				</nav>
			</div>
        </div>
         <!-- 选项栏 -->   
        <div class="container mt-5">
                <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                用户信息
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                收藏
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                信息
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">
                                Disabled
                            </a>
                        </li>
                    </ul>
        </div>
        <!-- 展示评论栏 -->   
        <div class="container mt-5">
                
                    
                        <table class="table">
        
                                <tbody>
                                  <tr>
                                    <td><img style="height:48px;width:48px;" src="j.jpeg" class="rounded-circle "></td>
                                    <td>
                                        <div><a href="#" >Another link</a></div>
    
                                        <small>
                                            孔子曾概括《诗经》宗旨为“无邪”，并教育弟子读《诗经》以作为立言、立行的标准。先秦诸子中，引用《诗经》者颇多，如孟子、荀子、墨子、庄子、韩非子等人在说理论证时，多引述《诗经》中的句子以增强说服力。至汉武帝时，《诗经》被儒家奉为经典，成为《六经》及《五经》之一。
                                            《诗经》内容丰富，反映了劳动与爱情、战争与徭役、压迫与反抗、风俗与婚姻、祭祖与宴会，甚至天象、地貌、动物、植物等方方面面，是周代社会生活的一面镜子。
                                        </small>
                                        <div>
                                            <div style="float: right;">
                                                <span class="badge badge-pill badge-info">2018/06/27</span>
                                            </div>
                                        </div>
                                    </td>
                                  </tr>
    
                                  <tr>
                                        <td><img style="height:48px;width:48px;" src="j.jpeg" class="rounded-circle "></td>
                                        <td>
                                            <div><a href="#" >Another link</a></div>
        
                                            <small>
                                                孔子曾概括《诗经》宗旨为“无邪”，并教育弟子读《诗经》以作为立言、立行的标准。先秦诸子中，引用《诗经》者颇多，如孟子、荀子、墨子、庄子、韩非子等人在说理论证时，多引述《诗经》中的句子以增强说服力。至汉武帝时，《诗经》被儒家奉为经典，成为《六经》及《五经》之一。
                                                《诗经》内容丰富，反映了劳动与爱情、战争与徭役、压迫与反抗、风俗与婚姻、祭祖与宴会，甚至天象、地貌、动物、植物等方方面面，是周代社会生活的一面镜子。
                                            </small>
                                            <div>
                                                <div style="float: right;">
                                                    <span class="badge badge-pill badge-info">2018/06/27</span>
                                                </div>
                                            </div>
                                        </td>
                                      </tr>
    
                                      <tr>
                                            <td><img style="height:48px;width:48px;" src="j.jpeg" class="rounded-circle "></td>
                                            <td>
                                                <div><a href="#" >Another link</a></div>
            
                                                <small>
                                                    孔子曾概括《诗经》宗旨为“无邪”，并教育弟子读《诗经》以作为立言、立行的标准。先秦诸子中，引用《诗经》者颇多，如孟子、荀子、墨子、庄子、韩非子等人在说理论证时，多引述《诗经》中的句子以增强说服力。至汉武帝时，《诗经》被儒家奉为经典，成为《六经》及《五经》之一。
                                                    《诗经》内容丰富，反映了劳动与爱情、战争与徭役、压迫与反抗、风俗与婚姻、祭祖与宴会，甚至天象、地貌、动物、植物等方方面面，是周代社会生活的一面镜子。
                                                </small>
                                                <div>
                                                    <div style="float: right;">
                                                        <span class="badge badge-pill badge-info">2018/06/27</span>
                                                    </div>
                                                </div>
                                            </td>
                                          </tr>
    
                                          <tr>
                                                <td><img style="height:48px;width:48px;" src="j.jpeg" class="rounded-circle "></td>
                                                <td>
                                                    <div><a href="#" >Another link</a></div>
                
                                                    <small>
                                                        孔子曾概括《诗经》宗旨为“无邪”，并教育弟子读《诗经》以作为立言、立行的标准。先秦诸子中，引用《诗经》者颇多，如孟子、荀子、墨子、庄子、韩非子等人在说理论证时，多引述《诗经》中的句子以增强说服力。至汉武帝时，《诗经》被儒家奉为经典，成为《六经》及《五经》之一。
                                                        《诗经》内容丰富，反映了劳动与爱情、战争与徭役、压迫与反抗、风俗与婚姻、祭祖与宴会，甚至天象、地貌、动物、植物等方方面面，是周代社会生活的一面镜子。
                                                    </small>
                                                    <div>
                                                        <div style="float: right;">
                                                            <span class="badge badge-pill badge-info">2018/06/27</span>
                                                        </div>
                                                    </div>
                                                </td>
                                              </tr>
                                </tbody>
                              </table>
    
    
    
    
    
        </div>        
	</body>

</html>